#map {
    margin : 6%;
    width: 90%;
    /* view height, minus header bar height and room for buttons */
    height: calc(90vh - 124px);
}

.Save{
          margin: 0;
          position: absolute;
          top: 90%;
          right: 80%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }