#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(120vh - 124px);
}


#area {
    display: block; 
    position: absolute;
    margin: 0px auto;
    bottom: 200px;
    right:10px;
    width: 200em;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
    color:blue;
    background: rgba(50, 100, 200, 0.4);
}

.undo{
          margin: 0;
          position: absolute;
          top: 90%;
          right: 80%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.summary{
          margin: 0;
          position: absolute;
          top: 90%;
          right: 5%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }

.confirm{
          margin: 0;
          position: absolute;
          top: 90%;
          right: 5%;
           -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
          }