.appName{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.schedule{
    margin: 0px;
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.name, .country, .date, .time{
    height: 16vh
}
.schedule_input{
    width: 200px;
    box-sizing: border-box;
    height: 40px;
}

.schedule_icon{
    font-size: 32px;
    padding: 10px;
    vertical-align:middle ;
}

.select_text{
    font-size: 1.3rem;
    position:relative;
    left:29px;
    top: 20px;
    height: 15px;
}

.select_option{
    position:relative;
    left:20px;
}

.event_1{
	line-height: 80%;
	position: relative;
	left:20px;
}


.summary{
	position:relative;
	left:275px;
}

#summary{
    font-size:30px;
    color:black
}

.undo_summary_btn{
    display:flex
}

.plan-trip-btn,.view-trips-btn{
    padding:0;
    margin:0;
    border:none;
    cursor: pointer;
    background: white;
    display: inline-block;
}

.view-trips-btn:hover{
    background: lightseagreen;
    color: white;
    transition: all 0.3s ease;
}

.plan-trip-btn:hover{
    background: lightseagreen;
    color: white;
    transition: all 0.3s ease;
}

.plan-schedule-container{
    display: flex;
    justify-content:center;
    align-items:center;
}

img{
	padding: 0px;
	margin: 0px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
	height: 60px;
	width: 5%;
	
}